:root {
  --border-radius--search: 16px;
  --padding-x--search:16px;
  --size--image: 100px;
  --box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
}

body {
  margin: 0;
  font-size: 16px;
}

.ac__container {
  height: 40px;
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--border-radius--search) 0 0 var(--border-radius--search);
  border-color: lightgray;
  border-right: none;
  padding: 5px var(--padding-x--search);
  position: static;
}

.ac__container--show-menu {
  border-radius: var(--border-radius--search) 0 0 0;
  border-bottom: none;
}

.ac__menu {
  top: 100%;
  border-radius: 0 0 var(--border-radius--search) var(--border-radius--search);
}

.ac__menu__item {
  padding: 10px var(--padding-x--search);
}

.news__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 32px;
  box-sizing: border-box;
}

.news__search {
  padding: 8px;
  box-shadow: var(--box-shadow);
}

.news_search_container {
  height: 40px;
  display: flex;
  position: relative;
}

.news__search__input {
  width: 100%;
}

.news__search__button {
  width: 60px;
  height: 40px;
  background-color: dodgerblue;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20' fill='white'%3E%3Cpath d='M20.71 19.29l-3.4-3.39A7.92 7.92 0 0019 11a8 8 0 10-8 8 7.92 7.92 0 004.9-1.69l3.39 3.4a1 1 0 001.42 0 1 1 0 000-1.42zM5 11a6 6 0 116 6 6 6 0 01-6-6z' data-name='search'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0 var(--border-radius--search) var(--border-radius--search) 0;
}

.news__search__button--show-menu {
  border-radius: 0 var(--border-radius--search) 0 0;
}

.news__list {
  flex: 1;
  padding: 8px;
}

.news__item {
  padding: 16px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background-color: white;
  display: flex;
  margin-bottom: 8px;
}

.news__item__left {
  margin-right: 16px;
  flex: 1;
}

.news__author {
  display: flex;
  align-items: center;
}

.news__author__avatar {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.news__author__name {
  font-size: 12px;
}

.news__content {
  font-size: 14px;
  height: 60px;
  overflow: hidden;
  margin: 10px 0;
}

.news__img {
  width: var(--size--image);
  height: var(--size--image);
  border-radius: 10px;
}

.news__date {
  font-size: 12px;
  color: gray;
}

.news__next__container {
  padding: 8px;
}

.news__next {
  width: 100%;
  padding: 10px 0;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: none;
  border: none;
}

.news__next__text {
  color: gray;
  font-size: 14px;
  margin-right: 10px;
}

.news__next__icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20' fill='gray'%3E%3Cpath d='M10 19a1 1 0 01-.64-.23 1 1 0 01-.13-1.41L13.71 12 9.39 6.63a1 1 0 01.15-1.41 1 1 0 011.46.15l4.83 6a1 1 0 010 1.27l-5 6A1 1 0 0110 19z'/%3E%3C/svg%3E");
  display: inline-block;
  width: 20px;
  height: 20px;
}


