.ac__container {
  border: 1px solid black;
  padding: 2px 4px;
  color: black;
  border-radius: 2px;
  line-height: 1;
  font-size: 14px;
  position: relative;
  width: 300px;
}

.ac__item__container {

}

.ac__item {
  background-color: lightgoldenrodyellow;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  height: 24px;
  padding: 0 4px;
  margin: 2px;
}

.ac__item__content {
  display: inline-block;
  line-height: 22px;
}

.ac__item__remove {
  display: inline-block;
  cursor: pointer;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='14' height='14'%3E%3Cpath d='M13.41 12l4.3-4.29a1 1 0 10-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 00-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 000 1.42 1 1 0 001.42 0l4.29-4.3 4.29 4.3a1 1 0 001.42 0 1 1 0 000-1.42z'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.ac__input__container {
  width: 5px;
  display: inline-block;
  margin: 2px;
}

.ac__input {
  width: 100%;
  min-width: 5px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
}

.ac__input--mirror {
  position: absolute;
  z-index: 999;
  white-space: nowrap;
  left: 0;
  top: 0;
  visibility: hidden;
}

.ac__input__clear {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='14' height='14'%3E%3Cpath d='M13.41 12l4.3-4.29a1 1 0 10-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 00-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 000 1.42 1 1 0 001.42 0l4.29-4.3 4.29 4.3a1 1 0 001.42 0 1 1 0 000-1.42z'/%3E%3C/svg%3E");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border: none;
  right: 5px;
  top: 5px;
  outline: none;
}

.ac__menu {
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  min-width: 200px;
  width: 100%;
  max-height: 200px;
  overflow: scroll;
  left: 0;
  top: 110%;
  display: none;
  z-index: 999;
  box-sizing: border-box;
}

.ac__menu__item {
  padding: 8px 4px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.ac__menu__item--hover,
.ac__menu__item:hover {
  background-color: lightgray;
}

.ac__menu__item--selected {
  background-color: #E7F7FF;
  font-weight: bold;
}

.ac__menu__item--selected:after {
  position: absolute;
  color: #2B96FC;
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='16' width='16' fill='%232B96FC'%3E%3Cpath d='M9.86 18a1 1 0 01-.73-.32l-4.86-5.17a1 1 0 111.46-1.37l4.12 4.39 8.41-9.2a1 1 0 111.48 1.34l-9.14 10a1 1 0 01-.73.33z'/%3E%3C/svg%3E");
  right: 10px;
  top: 7px;
  width: 16px;
  height: 16px;
  font-size: 10px;
}
