.ac__container {
  border: 1px solid black;
  padding: 2px 4px;
  color: black;
  border-radius: 2px;
  line-height: 1;
  font-size: 14px;
  position: relative;
  width: 300px;
}

.ac__item {
  background-color: lightgoldenrodyellow;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  height: 24px;
  padding: 0 4px;
  margin: 2px;
}

.ac__item__remove, .ac__item__content {
  display: inline-block;
  line-height: 22px;
}

.ac__item__remove {
  cursor: pointer;
  margin-left: 4px;
  font-weight: bold;
}

.ac__input__wrapper {
  width: 5px;
  display: inline-block;
  margin: 2px;
}

.ac__input {
  width: 100%;
  min-width: 5px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
}

.ac__menu {
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  min-width: 200px;
  width: 100%;
  max-height: 200px;
  overflow: scroll;
  left: -1px;
  top: 110%;
  display: none;
}

.ac__menu__item {
  padding: 8px 4px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.ac__menu__item--hover,
.ac__menu__item:hover {
  background-color: lightgray;
}

.ac__menu__item--selected {
  background-color: #E7F7FF;
  font-weight: bold;
}

.ac__menu__item--selected:after {
  position: absolute;
  color: #2B96FC;
  content: '✔️';
  right: 10px;
  top: 9px;
  width: 10px;
  height: 10px;
  font-size: 10px;
}
